* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  line-height: 1.5;
  font-size: 16px;
  overflow-x: hidden;
  height: 100vh;
}
::selection {
  background-color: rgb(38, 36, 36);
  color: rgb(226, 226, 226);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
::-webkit-scrollbar {
  height: 0.4rem;
}

.container {
  display: flex;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 300px;
  background: #ffffff;
  z-index: 100;
  transition: all 0.5s ease;
  border-right: 1px solid rgba(86, 86, 86, 0.172);
}

.sidebar .container {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px 40px;
  display: flex;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.logo {
  display: none;
}
.navTitle {
  display: flex;
  align-items: end;
}

.title {
  width: 100%;
  font-size: 2.3rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  white-space: pre-line;
}

#boxTitle {
  width: 4rem;
  height: 0.4rem;
  background: rgb(222, 222, 222);
  margin: 0.3rem;
}

.navLinks {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 4;
}

.navLinks .link {
  color: rgba(0, 0, 0, 0.495);
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.navLinks {
  width: 100%;
}

.navLinks .active-link {
  color: rgb(0, 0, 0);
}

.navLinks .inactive-link img {
  opacity: 0.5;
}
.navLinks a:hover img {
  opacity: 1;
}

.additional-link {
  font-size: 5rem;
  border-top: 1px solid grey;
  height: 2.7rem;

  color: rgba(0, 0, 0, 0.495);
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additional-link span {
  margin-left: 1.5rem;
}
.icons {
  width: 2.2rem;
  height: 2.2rem;
}

/* dashboard */
.dashboard {
  width: 100%;
  height: 100vh;
  padding: 20px 40px;
}

.dashboard .container {
  display: flex;
  flex-direction: column;
  margin-left: 320px;
}

.dashboard h1 {
  font-size: 2.3rem;
  font-family: "Inter", sans-serif;
  color: #000000b7;
}
.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 250px;
  cursor: grab;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.box {
  width: 30%;
  height: 15rem;
  background: #f6f6f6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 40px;
  border-radius: 1.3rem;
}

.box:nth-child(1) {
  margin-left: 20px;
}
.box:nth-child(4) {
  background: black;
}

.box:nth-child(4) h3,
.box:nth-child(4) p {
  color: rgb(218, 218, 218);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.smBox {
  width: 7rem;
  height: 7rem;
  padding: 20px;
  background: black;
  border-radius: 1.3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 0.7rem;
}

.box h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #000000;
}

.box p {
  font-size: 1.5rem;
  color: #0e0e0edc;
  font-weight: bold;
}

.smBox img {
  width: 100%;
  height: 100%;
}

.white {
  width: 7rem;
  height: 7rem;
  padding: 20px;
  border-radius: 1.3rem;
  box-shadow: rgba(241, 241, 241, 0.289) 0px 4px 16px,
    rgba(255, 255, 255, 0.265) 0px 8px 24px,
    rgba(251, 251, 251, 0.321) 0px 16px 56px;
  margin-top: 0.7rem;
  background: white;
}

.chart {
  margin-top: 2rem;
  max-height: 700px;
  max-width: 700px;
}

#salesChart {
  min-height: 350px;
}
.chart h3 {
  font-size: 1.4rem;
}
.chart p {
  font-weight: bold;
  font-size: 1.4rem;
  color: rgb(24, 197, 24);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.topSales {
  margin-left: 3rem;
  width: 100%;
}

.topSalesItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
}
.topSalesBox {
  width: 100%;
}
.topSalesItemImg {
  width: 15rem;
  height: 10rem;
  background: black;
  border-radius: 1.3rem;
}

.topSalesItemImg img {
  object-fit: cover;
  border-radius: 1.4rem;
}

.topSalesItemImg {
  position: relative;
}

.topSalesItemImg img {
  display: block;
}
.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
  object-fit: cover;
  border-radius: 1.4rem;
}

.itemInfo {
  width: 70%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itemPrice {
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-top: 2px solid rgb(92, 90, 90);
  border-bottom: 2px solid rgb(92, 90, 90);
}

.viewBtn {
  width: 5rem;
  padding: 0.3rem 3rem;
  background: black;
  color: white;
  border-radius: 1rem;
  border: none;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewBtn img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}
@media only screen and (max-width: 1495px) {
  #salesChart {
    min-height: 300px;
  }
}
@media only screen and (max-width: 1480px) {
  /* Center align navLinks */
  .sidebar {
    width: 100px;
  }

  .navTitle,
  .boxTitle,
  .navLinks span {
    display: none;
  }

  .navLinks {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navLinks a {
    margin-top: 3rem;
  }

  .navTitle {
    justify-content: center;
  }
  .logo {
    display: block;
    min-width: 5rem;
    min-height: 5rem;
    margin-left: 1rem;
  }

  .dashboard .container {
    margin-left: 100px;
  }

  .box h3,
  p {
    font-size: 1rem;
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
  }
  .smBox,
  .white {
    margin-right: 0;
  }
  #salesChart {
    min-height: 400px;
  }
}
@media only screen and (max-width: 1264px) {
  .main {
    display: inline;
  }
  .chart {
    margin: 0;
    margin-top: 2rem;
    max-width: 100%;
  }

  .topSales {
    margin-left: 0;
    margin-top: 2rem;
  }
  /* dashboard */
  .dashboard {
    height: 100%;
  }
}
@media only screen and (max-width: 754px) {
  .boxes {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab;
  }
  .box {
    min-width: 140px;

    margin-top: 1rem;
  }
  .box:nth-child(1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 700px) {
  .logo,
  .navTitle {
    display: none;
  }
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
  }
  .sidebar .container {
    position: fixed;
    padding: 0;
    height: 150px;
    display: flex;
    border-top: 1px solid rgb(225, 225, 225);
  }

  .navLinks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 0;
  }
  .dashboard .container {
    margin-left: 0;
  }
  .box:nth-child(1) {
    margin-left: 0;
  }
  body {
    margin-bottom: 40rem;
  }
}

@media only screen and (max-width: 400px) {
  body {
    margin-bottom: 60rem;
  }
}
