* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  line-height: 1.5;
  font-size: 16px;
  overflow-x: hidden;
  height: 100vh;
}
::selection {
  background-color: rgb(38, 36, 36);
  color: rgb(226, 226, 226);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
::-webkit-scrollbar {
  height: 0.4rem;
}

.container {
  display: flex;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 300px;
  background: #ffffff;
  z-index: 100;
  transition: all 0.5s ease;
  border-right: 1px solid rgba(86, 86, 86, 0.172);
}

.sidebar .container {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px 40px;
  display: flex;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.logo {
  display: none;
}
.navTitle {
  display: flex;
  align-items: end;
}

.title {
  width: 100%;
  font-size: 2.3rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  white-space: pre-line;
}

#boxTitle {
  width: 4rem;
  height: 0.4rem;
  background: rgb(222, 222, 222);
  margin: 0.3rem;
}

.navLinks {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 4;
}

.navLinks .link {
  color: rgba(0, 0, 0, 0.495);
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.navLinks {
  width: 100%;
}

.navLinks .active-link {
  color: rgb(0, 0, 0);
}

.navLinks .inactive-link img {
  opacity: 0.5;
}
.navLinks a:hover img {
  opacity: 1;
}

.additional-link {
  font-size: 5rem;
  height: 2.7rem;

  color: rgba(0, 0, 0, 0.495);
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additional-link img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.additional-link span {
  margin-left: 1.5rem;
}
.icons {
  width: 2.2rem;
  height: 2.2rem;
}

/* dashboard */
.dashboard {
  width: 100%;
  height: 100vh;
  padding: 20px 40px;
}

.dashboard .container {
  display: flex;
  flex-direction: column;
  margin-left: 320px;
}

.dashboard h1 {
  font-size: 2.3rem;
  font-family: "Inter", sans-serif;
  color: #000000b7;
}
.boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 250px;
  cursor: grab;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.box {
  width: 30%;
  height: 15rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 40px;
  border-radius: 1.3rem;
}

.box:nth-child(1) {
  margin-left: 20px;
}
.box:nth-child(4) {
  background: black;
}

.box:nth-child(4) h3,
.box:nth-child(4) p {
  color: rgb(218, 218, 218);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.smBox {
  width: 7rem;
  height: 7rem;
  padding: 20px;
  background: black;
  border-radius: 1.3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 0.7rem;
}

.box h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #000000;
}

.box p {
  font-size: 1.5rem;
  color: #0e0e0edc;
  font-weight: bold;
}

.smBox img {
  width: 100%;
  height: 100%;
}

.white {
  width: 7rem;
  height: 7rem;
  padding: 20px;
  border-radius: 1.3rem;
  box-shadow: rgba(241, 241, 241, 0.289) 0px 4px 16px,
    rgba(255, 255, 255, 0.265) 0px 8px 24px,
    rgba(251, 251, 251, 0.321) 0px 16px 56px;
  margin-top: 0.7rem;
  background: white;
}

.chart {
  margin-top: 1rem;
  max-height: 700px;
  max-width: 700px;
}

#salesChart {
  min-height: 350px;
}
.chart h3 {
  font-size: 1.4rem;
}
.chart p {
  font-weight: bold;
  font-size: 1.4rem;
  color: rgb(24, 197, 24);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.topSales {
  margin-left: 3rem;
  width: 100%;
}
.topSales h3 {
  font-weight: 600;
}
.topSalesItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
}
.topSalesBox {
  width: 100%;
}
.topSalesItemImg {
  width: 15rem;
  height: 10rem;
  background: black;
  border-radius: 1.3rem;
}

.topSalesItemImg img {
  object-fit: cover;
  border-radius: 1.4rem;
}

.topSalesItemImg {
  position: relative;
}

.topSalesItemImg img {
  display: block;
}
.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
  object-fit: cover;
  border-radius: 1.4rem;
}

.itemInfo {
  width: 70%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itemPrice {
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-top: 2px solid rgb(92, 90, 90);
  border-bottom: 2px solid rgb(92, 90, 90);
}

.viewBtn {
  width: 5rem;
  padding: 0.3rem 3rem;
  background: black;
  color: white;
  border-radius: 1rem;
  border: none;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewBtn img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}
/* measurement */

.insertion .container {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.Tableheader {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(181, 177, 177, 0.125);
  margin-left: 300px;
  padding: 0 40px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.Tableheader h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(41, 39, 39);
}
.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  background: rgb(242, 242, 242);
  padding: 0.5rem 1rem;
  border: 1px solid rgba(181, 177, 177, 0.061);
  box-shadow: rgb(204, 219, 232) 2px 2px 5px -4px inset,
    rgba(255, 255, 255, 0.5) -1px -3px 9px 11px inset;
}

.create {
  width: 7rem;
  height: 2rem;
  border-radius: 1rem;
  background: rgb(54, 48, 48);
  color: white;
  border: none;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.close {
  cursor: pointer;
  width: 2rem;
  margin-right: 1rem;
}
.searhForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
}
.searhForm button {
  display: none;
}
.searhForm input {
  width: 50%;
  min-width: 8rem;
}
.form {
  width: 100%;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.991);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.form form {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}

.form button:hover {
  background: #000000;
}

.secondForm {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
}
.form label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1rem;
  width: 10rem;
}

.form input {
  width: 30%;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(181, 177, 177, 0.176);
  margin-right: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.inputs {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}
#imageContainer input {
  box-shadow: none;
  border: none;
}
.ingredients {
  display: flex;
  flex-direction: column;
}
.ingredients label {
  width: 10rem;
}
input[type="checkbox"] {
  max-width: 16px;
  min-width: 16px;
  height: 16px;
  border: 2px solid black;
  outline: none;
}
input[type="checkbox"]:checked {
  background-color: black;
}
.ingredient-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.053) 0px 0px 0px 1px;
  padding: 10px;
}
.ingredient-grid label {
  display: flex;
  font-weight: 400;
  font-size: 1rem;
  width: 1rem;
  width: 100%;
}
.ingredient-grid .quan {
  font-weight: 400;
  font-size: 1rem;
  min-width: 7rem;
  width: 100%;
  padding-right: 0;
}

.cont {
  display: flex;
}
.insert {
  width: 100%;
  width: 7rem;
  height: 2.1rem;
  border-radius: 0.5rem;
  background: rgb(54, 48, 48);
  color: white;
  border: none;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}

.form select {
  width: 30%;
}
.tableContainer {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.051);
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}
table input {
  width: 100%;
  background: white;
  border: none;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
}
table span {
  font-weight: bold;
  display: none;
}
th,
td {
  text-align: center;
  border-top: 1px solid #edecec;
  padding: 0.2rem;
}

th {
  background-color: rgb(34, 33, 33);
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  padding: 0.4rem;
}

th:nth-child(1) {
  border-radius: 20px 0 0 20px;
}
th:last-child {
  border-radius: 0 20px 20px 0;
}
th:nth-last-child(2) {
  display: none;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

td:first-child {
  width: 10%;
  color: #000000;
  text-align: center;
}

td:last-child {
  text-align: center;
}

.tableName {
  display: none;
}
.deletebtn {
  background-color: #b01e1e;
}
.deletebtn:hover {
  background-color: #ff0202;
}

.savebtn {
  background-color: #236521;
}

.savebtn:hover {
  background-color: #2aab25;
}
button {
  background-color: #282525;
  color: white;
  border: none;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 5rem;
}

button:hover {
  background-color: #000000;
}
.cancelbtn,
.savebtn {
  display: none;
}

.id {
  display: none;
}

select {
  height: 2.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  border: 1px solid rgba(181, 177, 177, 0.176);
  margin-right: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.tableContainer select {
  border: none;
  box-shadow: none;
}

.label {
  margin-top: 1rem;
}

.tableContainer img {
  max-width: 200px;
}
.reports img {
  max-width: 100px;
  width: 100%;
  height: 100px;
}
.reports .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.reports.boxes {
  overflow-x: none;
}
.reports button {
  margin-top: 1rem;
  width: 100%;
  max-width: 100px;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 1495px) {
  #salesChart {
    min-height: 300px;
  }
}
@media only screen and (max-width: 1480px) {
  /* Center align navLinks */
  .sidebar {
    width: 100px;
  }

  .navTitle,
  .boxTitle,
  .navLinks span {
    display: none;
  }

  .navLinks {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navLinks a {
    margin-top: 3rem;
  }

  .navTitle {
    justify-content: center;
  }
  .logo {
    display: block;
    min-width: 5rem;
    min-height: 5rem;
    margin-left: 1rem;
  }
  .Tableheader,
  .insertion .container,
  .dashboard .container {
    margin-left: 100px;
  }

  .box h3,
  p {
    font-size: 1rem;
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
  }
  .smBox,
  .white {
    margin-right: 0;
  }
  #salesChart {
    min-height: 400px;
  }
}
@media only screen and (max-width: 1264px) {
  .main {
    display: inline;
  }
  .chart {
    margin: 0;
    margin-top: 2rem;
    max-width: 100%;
  }

  .topSales {
    margin-left: 0;
    margin-top: 2rem;
  }
  /* dashboard */
  .dashboard {
    height: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .form select,
  .form input {
    width: 100%;
  }
  .secondForm {
    flex-direction: column;
  }
  .secondForm label {
    width: 100%;
  }
  .insert {
    margin-top: 1rem;
  }
  .ingredient-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 754px) {
  .boxes {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab;
  }
  .box {
    min-width: 140px;

    margin-top: 1rem;
  }
  .box:nth-child(1) {
    margin-left: 0;
  }
  .logo,
  .navTitle {
    display: none;
  }
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
  }
  .sidebar .container {
    position: fixed;
    padding: 0;
    height: 150px;
    display: flex;
    border-top: 1px solid rgb(225, 225, 225);
  }

  .navLinks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 0;
  }
  .Tableheader,
  .insertion .container,
  .dashboard .container {
    margin-left: 0;
  }
  .box:nth-child(1) {
    margin-left: 0;
  }
  body {
    margin-bottom: 40rem;
  }

  th {
    display: none;
  }
  .tableName {
    display: block;
    border-radius: 20px;
  }
  th:last-child {
    border-radius: 20px;
  }
  td,
  td:first-child {
    display: flex;
    width: 100%;
    color: black;
  }
  table span {
    display: block;
    font-family: 600;
    margin-right: 0.2rem;
  }
  table form {
    display: flex;
  }

  table input {
    width: 30%;
    margin: 0.5rem 0.5rem 0.5rem 0;
    text-align: start;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
  }

  table select {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0;
    font-size: 0.9rem;
    margin: 0;
    height: 1.2rem;
    color: #000000;
  }

  td:first-child {
    display: flex;
  }
  .inputs {
    flex-direction: column;
    margin-top: 0.3rem;
    align-items: start;
  }
  .tableContainer {
    padding: 1rem;
  }
  .cont {
    display: block;
  }
  th:nth-last-child(2) {
    display: block;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 580px) {
  .Tableheader {
    padding: 10px 20px;
  }
  .Tableheader h1 {
    font-size: 1rem;
  }
  .create {
    margin: 0;
  }
  .form label {
    font-size: 1rem;
  }
  .insertion .container {
    padding: 10px;
  }

  .form {
    margin: 0;
    padding: 1rem;
  }

  button {
    padding: 3px;
    font-size: 0.8rem;
    margin: 0.5rem 0.5rem 0 0;
  }

  th,
  td {
    font-size: 0.8rem;
  }

  table input {
    padding: 0;
    font-size: 0.9rem;
  }

  .form h2 {
    font-size: 1.6rem;
  }

  .close {
    width: 1.5rem;
  }
  .create {
    font-size: 0.8rem;
    width: 6rem;
  }
}
@media only screen and (max-width: 400px) {
  body {
    margin-bottom: 60rem;
  }

  .insert {
    font-size: 0.8rem;
  }
  .form h2 {
    font-size: 1rem;
  }
  .Tableheader h1 {
    font-size: 0.8rem;
  }
  .searhForm input {
    width: 50%;
    min-width: 6rem;
  }
}
